name: Deploy to VM
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 37.60.251.94
          username: kimang
          key: ${{ secrets.SSH_KEY }}
          port: 1133
          script: |
            . ~/.nvm/nvm.sh
            whoami
            pwd
            cd devops-cadt-2
            git pull
            pm2 reload devops-test
